<!-- app/views/resume_lists/show.html.erb -->
<h1>Resume List Details</h1>
<p><strong>Description:</strong> <%= @description %></p>
<p><strong>Role:</strong> <%= @role %></p>
<p><strong>Status:</strong> <%= @status %></p>


