<% if @profile.user.bands.any? %>

  <% @profile.user.bands.each do |band| %>
    <%= link_to band_path(band) do %>
      <div class="flex-wrap w-[150px] center">
        <div class="relative mt-5 center w-[100px] h-[100px] lg:w-[120px] lg:h-[120px]">
          <%= render 'shared/avatar' , model: band %>
          <div class="relative">
            <div id="band_member" class="absolute w-[50px] h-[50px] bottom-0 left-[-40px] joband-shadow">
              <%= render "shared/instrument", instrument: band.band_members.find_by(user_id: @profile.user.id).role %>
            </div>
          </div>
        </div>
        <div class="w-full my-5 text-center h3 joband-text-bk joband-shadow">
          <%= band.name %>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>
  <p class="w-full my-3 text-gray-400 h4">未加入樂團</p>
<% end %>