<div style="background:#f9f9f9;padding:40px 0;margin:10px 0;border-bottom:1px solid #efefef">
  <table style="border-spacing:0;border-collapse:collapse;width:100%;vertical-align:top;max-width:640px;margin:0 auto;padding:0;font-size:15px;font-family:Arial,Helvetica">
    <tbody>
      <tr>
        <td>
          <table style="border-spacing:0;border-collapse:collapse;width:100%;vertical-align:top;margin:20px 0;padding:0;font-size:14px">
            <tbody>
              <tr>
                <td style="padding-bottom:16px">
                  <span style="font-size:28px"><b>歡迎加入 JoBand, <%= @resource.name %>!</b></span>
                </td>
              </tr>
              <tr>
                <td style="padding-bottom:12px">
                  <span style="font-size:14px">如果是您本人註冊，請按一下以下連結以驗證您的電子郵件：</span>
                </td>
              </tr>
              <tr>
                <td style="padding-bottom:16px;text-align:center">
                  <%= link_to '確認是我的電子郵件', confirmation_url(@resource, confirmation_token: @token), class: "blink", style: "color:#fff;text-decoration:none;display:inline-block;color:#fff;border-radius:4px;border-bottom-width:2px;border-bottom-color:#00a462;border-bottom-style:solid;background:#00cb6f;padding:15px 40px;margin:10px auto;font-size:18px", target:"_blank" %>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="text-align:center"></div>
                </td>
              </tr>
              <tr>
                <td style="padding-bottom:12px">
                  <span style="font-size:14px">如果不是您註冊的，請刪除此信件。</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="font-size:14px;display:block">
                    <br>Cheers,<br>JoBand 開發團隊
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
