

  <% comments.each do |comment| %>
    <li>
      <div>
        <%= link_to comment.user.name, profile_path(comment.user_id), target: "_blank", 
                                      class:'font-bold' %>
      </div>
      <div class="m-3 break-words">
        <%= comment.content %>
      </div>
      <div class="flex justify-end">
        <% if comment.user == current_user %>
         <%= link_to '刪除', comment_path(comment, resume_list_id: resume_list.id),
                            class:'text-xs text-red-400',
                            data: {
                              turbo_method: 'delete',
                              turbo_confirm: '確定刪除？'
                            } %>
        <% end %>
      </div>

      <div class="text-xs mb-1 joband-text-bk">
        (<%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>)
      </div>

      <hr class="mb-3 bg-black ">
    </li>
  <% end %>

