
<li>
  <% comments.each do |comment| %>
    <li>
      <div>
        <% user = User.find(comment.user_id) %>
        <%= link_to user.name, profile_path(comment.user_id)%>
      </div>
      <div>
        <%= comment.content %>
      </div>
      <div>
        (<%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>)
        <% if comment.user == current_user %>
        <%= link_to '刪除', comment_path(comment, resume_list_id: resume_list.id), data: {
                           turbo_method: 'delete',
                           turbo_confirm: '確定刪除？'
                           } %>
        <% end %>
      </div>
      <hr>
    </li>
  <% end %>
</li>
