<% if model.avatar.attached? %>
    <div class="absolute w-full h-full bg-white rounded-full drop-shadow-2xl"></div>
    <%= image_tag model.avatar, class: "relative rounded-full w-full h-full object-cover" %>
<% else %>
  <img src="/default_avatar.png" alt="default_avatar" class="w-full rounded-full" >
<% end %>