<div id='flash_container'>
<% if flash[:notice] %>
  <p class="hidden" data-controller="flash" data-icon="success"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p class="hidden" data-controller="flash" data-icon="warning"><%= flash[:alert] %></p>
<% end %>
</div>
