<footer class="p-5 shadow-inner footer footer-center navbg text-neutral-content">
  <div class="flex gap-5 mt-5 theme-text">
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "tw" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
  </div>
  <div class="w-full lg:flex justify-between">
    <div class="flex lg:mb-5 sm:ml-24 lg:ml-36 grow">
      <div>
        <img src="/Joband_icon.svg" alt="Joband_icon" class="w-10 lg:w-[90px] mx-1 sm:mt-[10px] ">
      </div>
     <div>
      <img src="/Joband_footer.svg" alt="Joband_footer" class="items-center w-[90px] lg:w-[200px] mx-1 my-5 ">
    </div>
      
    </div>

    
    <div class="lg:mt-3 lg:mr-10 sm:ml-28">
      <a class="center flex-col">
        <%= link_to t("joband.about") , about_path, class: "h3 font-bold link link-hover theme-text lg:mr-2" %>
      </a>
    </div> 
    
    <div class="lg:mr-36 sm:ml-28 ">
      <a target="_blank" href="https://github.com/astrocamp/14th-JoBand" class="">
        <img src="/github_footer.png" alt="Github_footer" class="items-center w-[30px] lg:w-[40px] my-2 ">
      </a>
    </div>
    <p class="theme-text grow lg:mr-40 sm:ml-28"> 
      JoBand  揪團有限公司<br>
      <%= t("joband.copyright")%> 
    </p>
  </div>
</footer>