<footer class="p-5 shadow-inner footer footer-center navbg text-neutral-content">
  <div>
    <div class="flex justify-center mt-3 mb-5">
      <img src="/Joband_icon.svg" alt="Joband_icon" class="w-10 lg:w-[50px] mx-1">
      <img src="/Joband_footer.svg" alt="Joband_footer" class="items-center w-[90px] lg:w-[100px] mx-1">
    </div>
    <p class="theme-text">
      JoBand  揪團有限公司
    </p> 
    <div class="grid grid-flow-col mt-3">
      <a><%= link_to '關於我們', about_path, class: "font-bold link link-hover theme-text mx-2" %></a>
    </div> 
    <a target="_blank" href="https://github.com/astrocamp/14th-JoBand">
      <img src="/github_footer.png" alt="Github_footer" class="items-center w-[30px] lg:w-[40px] mx-1 my-2">
    </a>
    <p class="theme-text">版權所有 © 2023</p>
  </div>
  <div class="flex gap-5 joband-text-bk">
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "tw" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
  </div>
</footer>