<footer class="p-10 shadow-inner footer footer-center navbg text-neutral-content">
  <div>
    <img src="/Joband_icon.svg" alt="Joband_icon" class="w-10">
    <p class="mt-5 font-bold theme-text">
      JoBand Industries Ltd.
    </p> 
    <div class="grid grid-flow-col gap-5 my-5">
      <a class="link link-hover theme-text">About us</a> 
      <a class="link link-hover theme-text">Contact</a> 
    </div> 
    <p class="theme-text">Copyright © 2023 - All right reserved</p>
  </div>
</footer>