<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 320 512">
    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
      <path d="M288 32c17.7 0 32 14.3 32 32V320c0 88.4-71.6 160-160 160S0 408.4 0 320V288c0-17.7 14.3-32 32-32s32 14.3 32 32v32c0 53 43 96 96 96s96-43 96-96V64c0-17.7 14.3-32 32-32z"/>
    </svg>
    <p class="font-bold mt-5">
      JoBand Industries Ltd.
    </p> 
    <div class="grid grid-flow-col gap-5 my-5">
      <a class="link link-hover">About us</a> 
      <a class="link link-hover">Contact</a> 
      <a class="link link-hover">Jobs</a> 
      <a class="link link-hover">Press kit</a>
    </div> 
    <p>Copyright © 2023 - All right reserved</p>
  </div>
</footer>