<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div>
    <img src="/Joband_icon.svg" alt="Joband_icon" class="w-10">
    <p class="font-bold mt-5">
      JoBand Industries Ltd.
    </p> 
    <div class="grid grid-flow-col gap-5 my-5">
      <a class="link link-hover">About us</a> 
      <a class="link link-hover">Contact</a> 
      <a class="link link-hover">Jobs</a> 
      <a class="link link-hover">Press kit</a>
    </div> 
    <p>Copyright © 2023 - All right reserved</p>
  </div>
</footer>