<% if instrument == nil %>

  <div class="relative flex flex-wrap justify-center w-h-full joband-shadow">
    <div class="flex items-center justify-center w-full h-full">
      <img src="/icon_img/listener.svg" alt="listener_icon" class="absolute w-1/2 p-1 drop-shadow">
      <div class="bg-[#f3f3f2] rounded-full shadow-inner w-h-full"></div>
    </div>
    <p class="block mt-2 font-semibold joband-text-bk">聽眾</p>
  </div>

<% else %>

  <div class="relative flex flex-wrap justify-center w-h-full joband-shadow">
    <div class="flex items-center justify-center w-full h-full">
      <img src="/icon_img/<%= instrument %>.svg" alt="<%= instrument %>_icon" class="absolute w-1/2 p-1 drop-shadow">
      <div class="bg-[#f3f3f2] rounded-full shadow-inner w-h-full"></div>
    </div>
    <p class="hidden mt-2 font-semibold lg:block joband-text-bk"><%= instrument.upcase %></p>
  </div>
  
<% end %>
