<div class="relative flex flex-wrap justify-center w-h-full joband-shadow">
  <%= link_to profiles_path({"q"=>{"instruments_name_cont_any"=>[instrument]}, "commit"=>"Search"}), class: "absolute w-full h-full z-10" do %>
  <div class="flex items-center justify-center w-full h-full">
    <div class= "absolute block w-2/3 p-1 joband-shadow">
      <%= File.read("public/icon_img/#{instrument}.svg").html_safe %>
    </div> 
    <div class="rounded-full shadow-inner circle-bg w-h-full"></div>
  </div>
  <p id="instrument_name" class="mt-2 font-semibold text-center theme-text">
    <%= instrument.upcase %>
  </p>
  <% end %>
</div>
