<% if current_user %>
  <li class="flex align-middle">
    <details class="flex items-center cursor-pointer theme-text dropdown dropdown-bottom dropdown-end white">
      <summary class="items-center h-full center">
        <div class="joband-shadow">
          <div>
            <%= File.read('app/assets/images/icon/bell.svg').html_safe %>
          </div>
          <% if @unread.count > 0 %>
            <div class="absolute top-0 right-[-5px] bg-red-500 text-white rounded-full w-[15px] h-[15px] flex items-center justify-center text-sm font-semibold">
              <!-- 使用紅點代替數字，如果沒有未讀通知則不顯示紅點 -->
              <%= @unread.count %>
            </div>
          <% end %>
        </div>
      </summary>
      <ul class="py-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-[160px]">
        <% @unread.take(5).each do |notification| %>
          <%= render 'shared/notification', notification: notification %>
        <% end %>
        
        <% if @unread.count == 0 %>
        <li class="dropdown-item text-center text-gray-600">
          <%= t('notice.nothing')%>
        </li>
        <% end %>

      </ul>
    </details>
  </li>
<% end %>


