<div class="relative flex items-center justify-center w-h-full">
  <img src="/icon_img/search_icon.svg" alt="search_icon" class="w-1/2 z-[1] absolute">
  <div class="bg-[#F46A5B] rounded-full w-h-full"></div>
</div>