<div class="flex justify-center flex-wrap mx-5 w-[120px]">
  <div class="relative w-[120px] h-[120px] mt-5  joband-shadow">
    <%= link_to '', profile_path(band_member.user.profile), class: "block w-full h-full absolute z-[1]" %>
    <%= render 'shared/avatar' , model: band_member.user.profile %>
  </div>
  <div class="relative">
    <div id="band_member" class="absolute w-[50px] h-[50px] bottom-0 left-[-40px] joband-shadow">
      <%= render "shared/instrument", instrument: band_member.role %>
    </div>
  </div>
  <% if current_user&.id === @band_members.find_by(identity: "leader").user_id %>
    <%= link_to t('show.edit'), edit_band_band_member_path(@band, band_member) , class: 'band_member_edit joband-info-btn'%>
  <% end %>
</div>