<div class="flex flex-wrap justify-center w-full p-10 joband-text-bk">
  <%# Leo %>
  <div class="flex flex-col items-center justify-center p-10 mx-5 my-5 rounded-[80px] joband-shadow lg:w-[25%] w-full bg-white">
    <img src="/leo.png" alt="Leo_pic" class="w-[290px] lg:w-[300px] ">
    <p class="mt-3 font-bold h2">張宏華</p>
    <p class="mt-1 font-bold h3">Leo</p>
    <p class="mt-5">面對自己的困惑，勇敢提問，才是解決問題的關鍵</p>
    <div class="flex mt-5 jusyify-center">
      <img src="/github_footer.png" alt="Github_footer" class="w-[25px] lg:w-[30px] mx-1">
      <a target="_blank" href="https://github.com/LeoChang0808" class="mx-1 text-sm lg:text-base hover:text-[#D2545B]">LeoChang0808</a>
    </div>
  </div>

  <%# Heng %>
  <div class="flex flex-col items-center justify-center p-10 mx-5 my-5 rounded-[80px] joband-shadow lg:w-[25%] w-full bg-white">
    <img src="/heng.png" alt="Heng_pic" class="w-[290px] lg:w-[300px] ">
    <p class="mt-3 font-bold h2">劉姮</p>
    <p class="mt-1 font-bold h3">Heng</p>
    <p class="mt-5">每個錯誤和挑戰都是一個成長的機會</p>
    <div class="flex mt-5 jusyify-center">
      <img src="/github_footer.png" alt="Github_footer" class="w-[25px] lg:w-[30px] mx-1">
      <a target="_blank" href="https://github.com/pjwang0109" class="mx-1 text-sm lg:text-base hover:text-[#D2545B]">pjwang0109</a>
    </div>
  </div>
  
  <%# Hao %>
  <div class="flex flex-col items-center justify-center p-10 mx-5 my-5 rounded-[80px] joband-shadow lg:w-[25%] w-full bg-white">
    <img src="/hao.png" alt="Hao_pic" class="w-[290px] lg:w-[300px] ">
    <p class="mt-3 font-bold h2">梁育豪</p>
    <p class="mt-1 font-bold h3">Hao</p>
    <p class="mt-5">失敗過幾次並不重要，你只需要成功一次</p>
    <div class="flex mt-5 jusyify-center">
      <img src="/github_footer.png" alt="Github_footer" class="w-[25px] lg:w-[30px] mx-1">
      <a target="_blank" href="https://github.com/andy840818" class="mx-1 text-sm lg:text-base hover:text-[#D2545B]">andy840818</a>
    </div>
  </div>
  
  <%# Matt %>
  <div class="flex flex-col items-center justify-center p-10 mx-5 my-5 rounded-[80px] joband-shadow lg:w-[25%] w-full bg-white">
    <img src="/matt.png" alt="Matt_pic" class="w-[290px] lg:w-[300px] ">
    <p class="mt-3 font-bold h2">林靂佑</p>
    <p class="mt-1 font-bold h3">Matt</p>
    <p class="mt-5">勇敢前行，抓住每個機會，實現你的夢想</p>
    <div class="flex mt-5 jusyify-center">
      <img src="/github_footer.png" alt="Github_footer" class="w-[25px] lg:w-[30px] mx-1">
      <a target="_blank" href="https://github.com/fr715464" class="mx-1 text-sm lg:text-base hover:text-[#D2545B]">fr715464</a>
    </div>
  </div>

  <%# Weber %>
  <div class="flex flex-col items-center justify-center p-10 mx-5 my-5 rounded-[80px] joband-shadow lg:w-[25%] w-full bg-white">
    <img src="/weber.png" alt="Weber_pic" class="w-[290px] lg:w-[300px] ">
    <p class="mt-3 font-bold h2">陳韋博</p>
    <p class="mt-1 font-bold h3">Weber</p>
    <p class="mt-5">順流而行，一切盡是水到渠成</p>
    <div class="flex mt-5 jusyify-center">
      <img src="/github_footer.png" alt="Github_footer" class="w-[25px] lg:w-[30px] mx-1">
      <a target="_blank" href="https://github.com/vito588p" class="mx-1 text-sm lg:text-base hover:text-[#D2545B]">vito588p</a>
    </div>
  </div>

  <%# James %>
  <div class="flex flex-col items-center justify-center p-10 mx-5 my-5 rounded-[80px] joband-shadow lg:w-[25%] w-full bg-white">
    <img src="/james.png" alt="James_pic" class="w-[290px] lg:w-[300px] ">
    <p class="mt-3 font-bold h2">童冠硯</p>
    <p class="mt-1 font-bold h3">James</p>
    <p class="mt-5">人生就像騎單車，想保持平衡就得往前走</p>
    <div class="flex mt-5 jusyify-center">
      <img src="/github_footer.png" alt="Github_footer" class="w-[25px] lg:w-[30px] mx-1">
      <a target="_blank" href="https://github.com/codzilla91" class="mx-1 text-sm lg:text-base hover:text-[#D2545B]">codzilla91</a>
    </div>
  </div>
</div>