<div class="flex items-center justify-center w-screen">
  <div class="w-screen">
    <img src="/Joband_index.jpg" alt="Joband_Banner" class="object-cover w-full h-full">
  </div>
  <img src="Joband.svg" alt="Joband_LOGO" class="absolute">
</div>
<div class="relative">
  <%= render 'shared/navbar', class:"sticky" %>
</div>
<div style="height: 1024px;"></div>
