<div class="hero min-h-screen rounded-xl" style="background-image: url(https://static.wixstatic.com/media/89d386_ec4ca9be72c84dfba49634b689a0ef32~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,enc_auto/89d386_ec4ca9be72c84dfba49634b689a0ef32~mv2.jpg);">
  <div class="hero-content text-center text-white">
    <div class="max-w-md rounded-lg">
      <h1 class="text-5xl font-bold">歡迎來到 JoBand </h1>
      <p class="py-6">我們想邀請所有音樂家、樂手和音樂愛好者來到此處。無論您是一位樂手、一支樂團、音樂工作者，或者只是享受好音樂的友好人們。我們的期望能促進音樂社群更好的互動與交流，讓您能夠透過 JoBand 找到更多同好者。</p>
      <button class="btn btn-warning">Get Started</button>
      <p class="py-6">透過 JoBand，您可以輕鬆尋找合適的樂團成員。鼓手、吉他手、貝斯手，還是鍵盤手，我們的平台將幫助您找到完美的音樂拍檔。祝福您可以通過 JoBand 參與到您夢寐以求的音樂項目。</p>
    </div>
  </div>
</div>