<% if @band.errors.any? %>
    <ul>
      <% @band.errors.full_messages.each do |message| %>
        <li class=" text-rose-600 font-bold">
          <%= message %>
        </li>
      <% end %>
    </ul>
<% end %>