<a href="#" class="flex h-full w-full items-center justify-center z-[1]">
  <div class="rounded-full h-w-full"></div>
  <%# 之後放free_style圖片 %>
  <div class="bg-white rounded-full shadow-inner w-h-full"></div>
</a>
<p class="block mt-2 font-semibold joband-text-bk">FREE STYLE</p>