<div class="relative flex flex-wrap justify-center w-h-full bg-[#f3f3f2] rounded-full joband-shadow shadow-inner">
  <%= link_to bands_path({"q"=>{"styles_name_cont_any"=>[style.name]}, "commit"=>"Search"}),
               class: "absolute w-full h-full z-10 center flex-col" do %>
    <p class="text-center center items-center font-semibold joband-text-bk h2 lg:text-4xl">
      <%= style.name %>
    </p>
    <div class="rounded-full"></div>
    <%# 之後放style_icon圖片 %>
  </a>
  <% end %>
</div>
