<div class="relative flex flex-wrap justify-center w-h-full joband-shadow">
  <div class="relative flex flex-wrap items-center justify-center w-full h-full">
    <p class="absolute text-2xl font-semibold joband-text-bk lg:text-4xl"><%= style.name %></p>
    <div class="bg-[#f3f3f2] rounded-full shadow-inner w-h-full"></div>
  </div>
</div>
