<div class="relative flex flex-wrap justify-center w-h-full">
  <a href="#" class="flex h-full w-full items-center justify-center z-[1]">
    <p class="absolute font-semibold joband-text-bk h2 lg:text-4xl"><%= style.name %></p>
    <div class="rounded-full"></div>
    <%# 之後放style_icon圖片 %>
    <div class="bg-white rounded-full shadow-inner w-h-full"></div>
  </a>
</div>
