<div class="relative flex flex-wrap justify-center w-h-full">
  <a href="#" class="flex h-full w-full items-center justify-center z-[1]">
    <div class="rounded-full"></div>
    <%# 之後放style_icon圖片 %>
    <div class="bg-white rounded-full shadow-inner w-h-full"></div>
  </a>
  <p class="block mt-2 font-semibold joband-text-bk"><%= style.name %></p>
</div>
