<div class="flex flex-wrap justify-center p-10">
  <h2 class="my-5 text-4xl font-bold theme-text">修改您的樂團資料</h2>
</div>
<div class="flex flex-wrap justify-center">
  <div class="flex flex-wrap justify-center w-[90%] lg:w-[70%] h-auto p-16 rounded-[60px] lg:rounded-[100px] joband-shadow bg-white">  
    <%= render 'form', band: @band %>
  </div>
</div>
