<div class="center">
  <article class="w-3/4 bg-gray-400 rounded-md" id="edit-form">
    <h1 class="text-2xl text-center text-black">樂團資訊</h1>
    <%= render 'form', band: @band %>
  </article>
</div>  
