<h1>樂團列表</h1>

  <ul>
      <% @bands.each do |band| %>
    <li>
      <%= link_to band.name, band_path(band)  %>
      <ul>
        <% band.styles.each do |style| %>
          <li><%= style.name %></li>
        <% end %>
      </ul> 
      <%= link_to '編輯', edit_band_path(band) %>
    </li>
  </ul>

<% end %>