<div class="flex flex-wrap justify-center w-11/12 h-auto mx-auto p-10 rounded-[50px] shadow-md bg-slate-100">
  <h1 class="w-full mb-5 text-2xl font-bold text-center joband-shadow joband-text-bk">創建樂團</h1>
  <div class="center">
      <%= render 'form', band: @band %>
  </div>
</div>
