<div class="w-3/4 mt-20 h-auto mx-auto rounded-[50px] shadow-md bg-slate-100">  

  <h1 class="text-3xl font-bold text-center theme-text">新增團員招募</h1>

  <%= render'form', recruit: @recruit, band: @band %>

</div>
