/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .swal2-toast{
  display: flex !important;
  justify-content: center !important;
  background-color: rgb(241 245 249) !important;
  margin-top: 75px;
 }
 .swal2-toast h2{
  color: #2A323A !important;
 }
 .btn{
  border-radius: 20px !important;
  font-size: 1rem/* 20px */ !important;
  line-height: 1.5rem/* 28px */ !important;
 }

 .joband-action-btn{
  background-color: #F46A5B !important;
}

[data-theme="light"] .theme-text {
  color: #2A323A
}

[data-theme="dark"] .theme-text {
  color: #f3f3f2
}

[data-theme="light"] .circle-bg {
  background-color: #E3BE91
}

[data-theme="dark"] .circle-bg {
  background-color: #f3f3f2;
}

[data-theme="light"] input {
  color: #2A323A 
}

[data-theme="light"] textarea {
  color: #2A323A 
}

[data-theme="dark"] input {
  color: white
}

[data-theme="dark"] textarea {
  color: white
}

[data-theme="dark"] select {
  color: white;
}

[data-theme="dark"] select {
  color: white;
}

[data-theme="light"] .navbg {
  background-color: #edede9;
}

[data-theme="dark"] .navbg {
  background-color: rgb(43 50 59);
}

.joband-action-btn {
  color: white !important
}