/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.swal2-toast {
  display: flex !important;
  justify-content: center !important;
  background-color: rgb(241 245 249) !important;
  margin-top: 75px;
}
.swal2-toast h2 {
  color: #2a323a !important;
}
.btn {
  border-radius: 20px !important;
  font-size: 1rem /* 20px */ !important;
  line-height: 1.5rem /* 28px */ !important;
}

[data-theme="light"] .theme-text {
  color: #2a323a;
}

[data-theme="dark"] .theme-text {
  color: #f3f3f2;
}

[data-theme="light"] .icon-text {
  fill: #2a323a;
}

[data-theme="dark"] .icon-text {
  fill: #f3f3f2;
}

[data-theme="light"] .circle-bg {
  background-color: #dcc7ae;
}

[data-theme="dark"] .circle-bg {
  background-color: #f3f3f2;
}

[data-theme="light"] input {
  color: #2a323a;
}

[data-theme="light"] textarea {
  color: #2a323a;
}

[data-theme="dark"] input {
  color: white;
}

[data-theme="dark"] textarea {
  color: white;
}

[data-theme="dark"] select {
  color: white;
}

[data-theme="dark"] select {
  color: white;
}

[data-theme="light"] .navbg {
  background-color: #edede9;
}

[data-theme="dark"] .navbg {
  background-color: rgb(43 50 59);
}

[data-theme="light"] .nav-link:hover {
  background-color: hsl(var(--bc) / 0.1) !important;
}

[data-theme="light"] .hamberger {
  background-color: #2a323a;
}

[data-theme="dark"] .hamberger {
  background-color: white;
}

.joband-action-btn {
  color: white !important;
}

#instrnment_search:hover #instrument_name {
  opacity: 1;
  transition-duration: 1000ms;
}

#instrument_name {
  opacity: 0;
}

.trix-content {
  font-size: 1.25rem;
}

[data-theme="dark"] .bell {
  fill: white;
}

@media (max-width: 1024px) {
  .trix-button-row {
    display: none !important;
  }
}

/* 播放器自定義 */
.custom-audio-player {
  border: 2px solid transparent;
  background-color: #b0b0b0;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* set-email-disabled-color */
[data-theme="dark"] .email-disabled::placeholder {
  color: rgb(164, 164, 164);
}

[data-theme="light"] .email-disabled::placeholder {
  color: rgb(164, 164, 164);
}

.field_with_errors {
  display: block !important;
  color: #ec4040;
}
