@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family */
@layer base {
  html {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Courgette', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Rock Salt', cursive;
  }
}

Font Style
.h1 {
  @apply text-2xl block my-5;
}

.h2 {
  @apply text-xl block my-5;
}

.h3 {
  @apply text-lg block;
}

.h4 {
  @apply text-base block;
}

/* session style */

.logo-icon {
  @apply cursor-pointer select-none text-xl;
}

.nav-link {
  @apply cursor-pointer select-none hover:bg-nav-hov hover:duration-300 text-lg;
}

.aside-info {
  @apply my-5;
}

/* link style */

.blink {
  @apply underline cursor-pointer text-amber-500;
}

/* button style */

.confirm-btn {
  @apply cursor-pointer select-none rounded-lg bg-white text-black px-4 py-2 hover:bg-slate-100 hover:duration-300 my-5 ;
}

.cancel-btn {
  @apply cursor-pointer select-none rounded-md
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@import 'actiontext.css';