/* Band CSS */
#edit-form div label {
  color: #000;
}
#new-form div label {
  color: #000;
  font-weight: bold; 
}

/* Check Box */
#check-boxes {
  display: flex;
  flex-wrap: wrap;
}

#check-boxes input {
  display: none;
}

#check-boxes label {
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.125rem solid #E5E7EB;
  padding: 0.5rem 1rem;;
  margin: 0.25rem;
  font-weight: bold; 
  background-color: #444444;
  color: #a7a6a6 ;
}

#check-boxes input[type=checkbox]:checked+label {
  color: rgba(255, 0, 0, 0.922);
  background-color: #c9c9c9;
  font-size: large;
}


