<div class="flex flex-wrap justify-center p-10">
  <h2 class="my-5 text-4xl font-bold theme-text">修改您的活動資料</h2>
</div>
<div class="flex flex-wrap justify-center">
	<div class="flex flex-wrap justify-center w-[80%] lg:w-[50%] h-auto mx-auto p-10 rounded-[60px] lg:rounded-[100px] joband-shadow bg-white">  
    <%= render 'form', activity: @activity %>
  </div>
</div>