<% title "找活動" %>
<% description "探索最新的音樂活動，參加音樂表演，體驗音樂的魅力。" %>
<% keywords "音樂祭, 音樂活動, 樂團, 樂手, 組團, band, 音樂" %>
<% canonical "https://joband.co/activities" %>
<div class="flex flex-wrap justify-center p-10 lg:m-10">
  <h1 class="lg:text-4xl h2 theme-text" >樂團的活動列表</h1>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div class="my-10">
    <%= render @activities %>
  </div>    
</div>


