<% title "找活動" %>
<% description "探索最新的音樂活動，參加音樂表演，體驗音樂的魅力！在這裡，我們不僅提供機會讓您分享自己的音樂，還有許多精彩的音樂活動等著您。不論您喜歡搖滾、流行、爵士還是古典音樂，我們都有適合您的音樂饗宴。透過參加音樂表演和活動，您可以與其他音樂愛好者互動，擴展音樂圈子，並深刻感受音樂所帶來的情感和魔力。來吧，讓我們一同沉浸在音樂的世界中，創造難以忘懷的音樂時刻！" %>
<% keywords "音樂祭, 音樂活動, 樂團, 樂手, 組團, band, 音樂" %>
<% canonical "https://joband.co/activities" %>
<div class="flex flex-wrap justify-center p-10 lg:m-10">
  <h1 class="lg:text-4xl h2 theme-text" >樂團的活動列表</h1>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div class="my-10">
    <%= render @activities %>
  </div>    
</div>


