<h1 class="text-white h2" >尋找您想參加的活動</h1>

<%= link_to '新增活動', new_activity_path %>

<ul>
    <% @activities.each do |activity| %>
        <li> 
            <%= link_to activity.title, activity_path(activity) %>
            <%= link_to '更新', edit_activity_path(activity) %>
            <%= link_to '刪除', activity_path(activity), data: { turbo_method: 'delete', turbo_confirm: '確定要刪除嗎？' } %>
        </li>
    <% end %>
</ul>