<div class="flex flex-wrap justify-center p-10">
  <h1 class="lg:text-4xl h2 theme-text" >查看該樂團的活動</h1>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div class="my-10">
    <%= render @activities %>
  </div>    
</div>

<div class="flex flex-wrap justify-center w-full">
  <%= link_to "返回樂團首頁", band_path(@band), class: "bg-[#2A323A] text-white rounded-md p-2" %>
</div>


