<div class="flex flex-wrap justify-center p-10">
  <h2 class="my-5 text-4xl font-bold theme-text">創建您的活動</h2>
</div>
<div class="flex flex-wrap justify-center">
	<div class="flex flex-wrap justify-center w-full lg:w-[50%] h-auto mx-auto p-10 lg:rounded-[100px] joband-shadow bg-white">  
    <%= render 'form',band: @band, activity: @activity %>
  </div>
</div>
